<div class="main">
  <div class="container with-img">
    <div class = "row">
      <div class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id = "menu">
          <ul class="nav navbar-nav ">
            <li><a href="#/admin">
              <h4><span class="glyphicon glyphicon-arrow-left"> Назад </span></h4>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="table-responsive col-lg-12">
        <div ng-if="dormitories != null && dormitories.length != 0">
          <table class="table table-hover">
            <tr>
              <td><b>Номер общежития</b></td>
              <td><b>Максимально  блоков</b></td>
              <td><b>Свободно блоков</b></td>
              <td> <span class="glyphicon glyphicon-remove" style="color: red"></span></td>
            </tr>
              <tr ng-repeat="data in dormitories">
                <td>{{data.dormitoryNumber}}</td>
                <td>{{data.maxBlocksCount}}</td>
                <td>{{data.freeBlocksCount}}</td>
                <td>
                  <form method="post">
                    <input type="submit" value="Удалить" data-ng-click="deleteDormitory(data.dormitoryId)">
                  </form>
                </td>
              </tr>
          </table>
        </div>

        <div ng-if="dormitories == null || dormitories.length == 0">
          <div class="col-lg-2 col-lg-offset-4">
            <label class="label-info label">Общежитий нет :)</label>
          </div>
        </div>
      </div>

    <div class="col-lg-12">
      <hr class="colorgraph">
    </div>

    <form method="post">
      <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <h2><strong>Добавить общежитие:</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h4><strong>Номер общежития:</strong></h4>
        </div>
        <div class="col-lg-4">
          <input type="number" min ="0" maxlength="7" ng-model="addInfo.numberD" name="numberD" id="numberD" class="form-control" placeholder="Номер общежития" onkeyup="checkParams()" tabindex="1">
        </div>
        <div class="col-lg-4">
         <label class="has-error" id = "numberDError" style="color: red"></label>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-4">
          <h4><strong>Максимальное количество блоков:</strong></h4>
        </div>
        <div class="col-lg-4">
          <input type="number" min ="0" maxlength="7" ng-model="addInfo.maxBlock" name="maxBlock" id="maxBlock" class="form-control" placeholder="Максимальное количество блоков" onkeyup="checkParams()" tabindex="2">
        </div>
        <div class="col-lg-4">
          <label id = "blockError" style="color: red"></label>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-4">
          <h4><strong>Адрес общежития:</strong></h4>
        </div>
        <div class="col-lg-4">
          <input type="text" ng-model="addInfo.address" name="address" id="address" class="form-control" placeholder="Адрес общежития" onkeyup="checkParams()" tabindex="3">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
           <input type="submit" id="newDormitory" value="Сохранить" class="btn btn-success btn-block" data-ng-click="addDormitory()" disabled>
        </div>
      </div>
    </div>
    </form>

    <div class="row">
      <div class="col-xs-12 footer">
        <hr class="colorgraph">
        <div class="col-xs-4 col-xs-offset-5 ">
          <p class="lead">&copy; By MON </p>
        </div>
      </div>
    </div>
  </div>
</div>
