<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <span class="dropdown">
          <span class="glyphicon glyphicon-user" data-toggle="dropdown"></span>
          Администратор
          <ul class="dropdown-menu">
            <li><form method="get" data-ng-controller="authorizeCtrl">
              <input type="submit" value="Выход" class="btn btn-link btn-block btn-sm" data-ng-click="logout()">
            </form></li>
          </ul>
        </span>
      </li>
      <li>
        <a href="" data-ng-click="showDormitories()">
          Общежития
        </a>
      </li>
      <li>
        <a href="" data-ng-click="showBlocks()">
          Блоки
        </a>
      </li>

    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="row">
      <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-5">
       <h3 style="color: #28a4c9">
         Вы вошли как администратор приложения! В Ваши обязанности входит следить за актуальной информацией для приложения.
         А именно о жилых и нежилых общежитиях и блоках! Просьба своевременно выполнять свою работу!
       </h3>
        <h2 style="color: #46b8da">
          Спасибо, админушка :)
        </h2>
      </div>

      <div class="col-lg-5">
      <div class="img-responsive">
        <img src="../../img/adminCat.jpg" alt="">
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 footer abs">
        <hr class="colorgraph">
        <div class="col-xs-4 col-xs-offset-5 ">
          <p class="lead">&copy; By MON </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->